body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container {
  min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  .btn-primary,
  .btn-outline-primary {
    background-color: #FFB81C ;
    color: #2B3F4F ;
    border: #100901;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .rating span {
    color: #ffc000;
  }
  
  .product {
    border: 1px #404040 solid;
    margin: 1rem;
  }
  .product img {
    width: 100%;
    max-width: 400px;
  }
  .product-info {
    padding: 1rem;
  }
  .img-large {
    max-width: 100%;
  }
  .img-thumbnail {
    height: 80px;
  }
  .small-container {
    max-width: 600px;
  }
  
  .checkout-steps > div {
    border-bottom: 0.2rem solid #a0a0a0;
    color: #a0a0a0;
  }
  
  .checkout-steps > div.active {
    border-bottom: 0.2rem solid #f08000;
    color: #f08000;
  }
  
  /* sidebar */
  .navbar-brand {
    font-weight: bold;
  }
  .side-navbar {
    width: 240px;
    height: 100%;
    position: absolute;
    left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  
  .site-container {
    transition: 0.4s;
  }
  .active-cont {
    margin-left: 240px;
  }
  .active-nav {
    left: 0;
  }
  
  .text-bold {
    font-weight: bold;
  }
  
  .carousel {
    padding-bottom: 1%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    max-width: 85%;
  }
  
  .primary-bar {
    background-color: #1948BA;
  }
  
  .second-bar {
    background-color: #2e5b80;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 15px;
    padding: 8%;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  
  .gallery__item--2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
  /* Image and add button */
  
  .imgProductCont {
    position: relative;
  }
  
  .imgProductCont img {
    width: 100%;
    height: auto;
  }
  
  .imgProductCont .addButton {
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .products-main {
    padding: 8%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #f4f4f4;
  }
  
  .categories {
    padding: 8%;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  
  h4 {
    padding-top: 1%;
    font-weight: bold;
  }
  
  .nav-link {
    color: #fff;
  }
  
  /* Map */
  
  .full-box {
    height: 100vh;
    max-width: initial;
  }
  .full-box header,
  .full-box footer {
    display: none;
  }
  .full-box .container {
    height: 100vh;
    max-width: initial;
    margin: 0;
    padding: 0;
  }
  
  .full-box .mt-3 {
    margin-top: 0 !important;
  }
  
  .map-input-box {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0.5rem auto;
    width: 25rem;
    height: 3rem;
    display: flex;
  }
  .map-input-box input {
    border-radius: 1rem 0 0 1rem;
    border-right: 0;
  }
  .map-input-box button {
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
  }
  
  button.thumbnail {
    padding: 0;
  }